*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
    color: white;
}
html{
    font-size: 62.5%;
}

.navbar{
    display: flex;
    justify-content: end;
    gap: 950px;
}

.Navigation{
    font-size: 2rem;

}
span.logo-text{
    font-family: 'futurak';
    font-style: normal;
    font-weight: 400;
    font-size: 52px;
    line-height: 62px;
    color: #FFFFFF;
}
/* figure{
    width: 98%;     
} */

.main-heading{
    display: flex;
    justify-content: center;
    font-size: 3rem;
}
p{
    margin: 20px;
    text-align: center;
    font-size: 1.5rem;
}
