*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
    color: white;
}
html{
    font-size: 62.5%;
}

.navbar{
    display: flex;
    justify-content: end;
    gap: 950px;
}

.Navigation{
    font-size: 2rem;

}
span.logo-text{
    font-family: 'futurak';
    font-style: normal;
    font-weight: 400;
    font-size: 52px;
    line-height: 62px;
    color: #FFFFFF;
}
/* figure{
    width: 98%;     
} */

.main-heading{
    display: flex;
    justify-content: center;
    font-size: 3rem;
}
p{
    margin: 20px;
    text-align: center;
    font-size: 1.5rem;
}

.brands{
    display: flex;
    justify-content: center;
    gap: 10px;

}

button{
    background-color: black;
    color: white;
    border: 1px solid white;
    border-radius: 10px;
    margin-top: 10px;
}

.location{
    display: flex;
    justify-content: center;
}
h3{
    font-size: 3rem;
}
.directions{
    display: flex;
}
