*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

:root{
    --red: #ed1c24;
    --black: #000000;
    --white: #ffffff;
    --green: #1b8a19;
}

body{
    background-color: black;
    color: #ffffff;
}

.d-flex{
    display: flex;
}

.content{
    justify-content: center;
}

.items{
    align-items: center;
}

.text{
    text-align: center;
}
.gap-1{
    gap: 5px;
}
.gap-2{
    gap: 10px;
}
.gap-3{
    gap: 15px;
}
.gap-4{
    gap: 20px;
}
.gap-5{
    gap: 25px;
}

.font-1{
    font-size: 2rem;
}

.font-2{
    font-size: 3rem;
}

.font-3{
    font-size: 4rem;
}

.font-4{
    font-size: 5rem;
}

.margin-1{
    margin: 40px;
}

.m-top{
    margin-top: 70px;
}

.text-left{
    text-align: left;
}